<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suzz.mini.mapper.CityMapper">

  <cache type="com.suzz.platform.config.MybatisRedisCache" flushInterval="86400000"/>

  <resultMap id="BaseResultMap" type="com.suzz.mini.domain.organization.City">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="INTEGER" property="code" />
    <result column="fk_province" jdbcType="INTEGER" property="fkProvince" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, fk_province
  </sql>
  <select id="queryList" parameterType="com.suzz.mini.domain.condition.CityCondition" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from city
    where 1=1
    <if test="provinceIds != null">
      and fk_province in
      <foreach collection="provinceIds" item="provinceId" open="(" close=")" separator=",">
        #{provinceId}
      </foreach>
    </if>
    <if test="provinceId != null">
      and fk_province = #{provinceId,jdbcType=INTEGER}
    </if>
    <if test="code != null">
      and code = #{code,jdbcType=INTEGER}
    </if>
  </select>
</mapper>